<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" id="narrowItDown" ng-controller="NarrowItDownController as narrowItDown">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" ng-model="narrowItDown.searchTerm" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowItDown.getMatchedMenuItems()">Narrow It Down For Me!</button>
    </div>
	<div class="grid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- found-items should be implemented as a component -->
				<found-items items="narrowItDown.found" on-remove="narrowItDown.removeFound(index)">
					<span>Nothing found</span>
				</found-items>
			</div>
		</div>
	  </div>
  </div>
</body>
</html>
